<div>
    <mat-toolbar class="head">
        <img src="../../../assets/images/fork.png" alt="">
        <span>Foodie</span>
        <span class="example-spacer"></span>
        <a routerLink="../restaurantDashboard" href=""><mat-icon>dashboard</mat-icon>Dashboard</a>
        <!-- <a routerLink="../addDish" href=""><mat-icon>add</mat-icon>Add Dish</a> -->
        <a routerLink="../home" href=""><mat-icon>logout</mat-icon>Logout</a>
      </mat-toolbar>

    <div class="containerdashboard">
        <div id="carouselExampleCaptions" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?cs=srgb&dl=pexels-chan-walrus-958545.jpg&fm=jpg"
                class="d-block img" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <p>Enjoy special benefits offered by foodie</p>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="https://media-cldnry.s-nbcnews.com/image/upload/newscms/2019_30/2943911/190723-easy-chow-mein-al-1414.jpg"
                class="d-block img" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <p>Improve your business with foodie</p>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="https://images.indianexpress.com/2017/07/biryani1.jpg"
                class="d-block img" alt="...">
              <div class="carousel-caption d-none d-md-block">
      
                <p>Receive orders from your area</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <div class="addDish">
        <main class="form-signin w-100 m-auto">
          
          <div>
            <div style="text-align: center;"><img class="mb-4" src="../../../assets/images/Foodie.png" alt="" width="72" height="57"></div>
              <h1 class="h3 mb-3 fw-normal">Add Your Dish</h1>
            <form [formGroup]="restaurantForm">
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="restaurantName">
                <label for="floatingInput">Restaurant Name</label>
              </div>
            </form>
          </div>

          <form [formGroup]="dishForm">
            <!-- <div style="text-align: center;"><img class="mb-4" src="../../../assets/images/Foodie.png" alt="" width="72" height="57">
            </div> -->
      
            <!-- <h1 class="h3 mb-3 fw-normal">Add Your Dish</h1> -->
            <!-- <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="restaurantName">
                <label for="floatingInput">Restaurant Name</label>
              </div> -->
      
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="dishName">
              <label for="floatingInput">Dish Name</label>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingPassword" placeholder="Password" formControlName="dishType">
              <label for="floatingPassword">Dish Type</label>
            </div>
      
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingPassword" placeholder="Password"formControlName="dishPrice">
              <label for="floatingPassword">Price</label>
            </div>
            <div class="mb-3">
              <label for="formFile" class="form-label">Upload picture of dish</label>
              <input class="form-control" type="file" id="formFile">
            </div>
      
      
            <button class="w-100 btn btn-lg btn-primary" (click)="addDishes()">Add dish</button>
          </form>
        </main>
      </div>
      <app-footer></app-footer>
</div>