*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
  }
  
  body{
    margin: 0;
    padding: 0;
    background-color: #000;
    height: auto;
    position: relative;
    bottom: 0;
    /* margin-top: 900px; */
  }
  
  .container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
  }
  
  .alldetails{
    /* margin-top: 50px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .details{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .details ul li{
    margin: 5px;
  }
  
  .details ul li a{
    color: #fff;
    font-weight: lighter
  }
  .details ul li a:hover{
    border-bottom: 1px solid #fff;
    color: #c1c1c1;
  
  }
  
  
  .container img{
    width: 5rem;
    height: 5rem;
    margin-top: 2rem;
  }
  hr{
    /* color: #fff; */
    width: 100%;
    /* background-color: #fff; */
  }
  img{
    width: 200px;
    height: 120px;
}
.span{
    color: white;
    font-size: 20px;
    display: inline;
    margin-top: 200px;
    padding-top: -20px;
    border: 2px solid white;
}
  