<body>
    <div>
        <img src="../../../assets/images/Foodie.png" alt="">
    </div>
    <div class="container">
      <div class="alldetails">
  
      <div class="details">
        <ul>
          <li><strong>About us</strong></li>
          <li><a href="">Who we are</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="">Work With Us</a></li>
          <li><a href="">Invester Relations</a></li>
          <li><a href="">Report Fraud</a></li>
          <li><a href="">Contact Us</a></li>
        </ul>
      </div>
  
      <div class="details">
        <ul>
          <li><strong>Help & Support</strong></li> 
          <li><a href="">Partner with us</a></li>
          <li><a href="">Ride with us</a></li>
        </ul>
      </div>

      <div class="details">
        <ul>
          <li><strong>Learn More</strong></li> 
          <li><a href="">Security</a></li>
          <li><a href="">Apps for you</a></li>
          <li><a href="">Sitemap</a></li>
        </ul>
      </div>
  
      <div class="details">
        <ul>
            <li><strong>Terms & Conditions</strong></li> 
          <li><a href="">Refund & Cancellation</a></li>
          <li><a href="">Privacy Policy</a></li>
        </ul>
      </div>
      </div>
  
  
      <br><hr><br>
      By continuing past this page, you agree to our Terms of Service, Cookie Policy, Privacy Policy and Content Policies. All trademarks are properties of their respective owners. 2008-2023 © Foodie™ Ltd. All rights reserved.
    </div>
  </body>
    