img{
    width: 80px;
    height: 64px;
}
a{
    color: white;
    text-decoration: none;
    margin-left: 50px;
}
.head{
    background-color: black;
}
/* button{
    margin-left: 200px;
} */
.example-spacer {
    flex: 1 1 auto;
  }