
<body>
    <app-user-login-header></app-user-login-header>
    <div class="forget">
        <img src="../../../assets/images/password_reset.png" alt="#">
        <h1>Forgot Your Password ?</h1>
        <form>
            <input type="text" placeholder="Enter your email" required>
            <button class="btn">Send OTP</button>
            <br>
            <input type="text" placeholder="provide OTP" required>
            <button class="btn">Verify OTP</button>
            <br>
            <input type="text" placeholder="New Password">
            <br>
            <input type="text" placeholder="Confirm Password">
            <br>
            <button type="submit" class="subBtn">Update Password</button>
        </form>
    </div>
    <app-footer></app-footer>
</body>

<!-- <div class="pass">
    <mat-toolbar >
        <mat-toolbar-row fxLayout = "row">
           <span>Update Pasword</span>
           <span class = "spacer"></span>
           <button class = "mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
           </button>
        </mat-toolbar-row>
        </mat-toolbar>
        <form [formGroup]="otpVerify" >
    <div class = "form-card">
            <mat-form-field class = "form-field" appearance = "outline" *ngIf="openEmail">
                <input type="email" matInput placeholder="Enter Email" formControlName="email" >
                    <button class = "forgot-btn" mat-raised-button color="primary" [disabled]="!email?.valid"(click) = "generateOtp()" matSuffix>Send Otp</button>
            </mat-form-field  >
            <div *ngIf="openOtp" >
            <mat-form-field appearance = "outline" >
                <input type="text" matInput placeholder="Provide OTP" (input) = "enterOtp(otp.value)" [disabled] = "!otp1" #otp>
              
          
        </mat-form-field>
        <button  class = "verify-otp-btn" [disabled] = "!otp2" mat-raised-button color = "accent" (click)="verify()">Verify</button>
    </div>

             <div *ngIf="openUpdate"> 
        <mat-form-field class = "form-field" id="form" appearance = "outline">
            <input type="password" placeholder="Enter Your New Password" matInput formControlName = "password"> 
        </mat-form-field>
        <div>
            <mat-error *ngIf = "password?.errors?.['pattern']">
                Password Should Have min 5 letter password, with atlease a symbol a upper and lower case letters and a number 
            </mat-error>
            </div>
            <br>
           
        <mat-form-field class = "form-field" appearance = "outline">
            <input type="password" placeholder="Confirm Your Password" matInput formControlName = "confirmPassword">
        </mat-form-field>
   
        <div>
            <mat-error *ngIf = "otpVerify?.errors?.['mustMatch']===true">
                password and confirm password should match
            </mat-error>
            </div>

<div>
    <button type = "submit" mat-raised-button color = "primary" [disabled] = "!otpVerify.valid" (click)="update()">Update Password</button>
    <button class = "reset-btn" type = "reset" mat-raised-button color = "accent">Reset</button>
</div>

</div>            
</div>
</form>
</div> -->
