.spacer{
    flex: 1 1 0;
    background: transparent;
}
.pass{
    background-color: transparent;
    border: 2px solid black;
}
.form-card{
     padding: 20px;
     /* background-color: transparent; */
     background: transparent;
}



.forgot-btn button{
    background: rgb(209, 209, 21);
    color:white;
}

.btn-div{
    display: flex;
}

.verify-otp-btn{
    margin-left: 10px;
}
.reset-btn{
    margin-left: 10px;
}



.forget{
    border: 1px solid black;
    padding: 8px;
    display: inline-block;
    margin-left: 30%;
}