.spacer{
    flex: 1 1 0;
    background: transparent;
}
.pass{
    background-color: transparent;
}
.form-card{
     padding: 20px;
     /* background-color: transparent; */
     background: transparent;
}



.forgot-btn button{
    background: rgb(209, 209, 21);
    color:white;
}

.btn-div{
    display: flex;
}

.verify-otp-btn{
    margin-left: 10px;
}
.reset-btn{
    margin-left: 10px;
}