<!-- <head> 
    <link rel="stylesheet" href="./forgot-password.component.css">
</head> -->
<div class="pass">
    <mat-toolbar >
        <mat-toolbar-row fxLayout = "row">
           <span>Update Pasword</span>
           <span class = "spacer"></span>
           <button class = "mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
           </button>
        </mat-toolbar-row>
        </mat-toolbar>
        <!-- [formGroup]="otpVerify" -->
        <form  >
    <div class = "form-card">
        <!-- *ngIf="openEmail"ng s --o
         -->
            <mat-form-field class = "form-field" appearance = "outline" >
                <input type="email" matInput placeholder="Enter Email" formControlName="email" >
                    <button class = "forgot-btn" mat-raised-button color="primary"  matSuffix>Send Otp</button>
            </mat-form-field  >
            <!-- *ngIf="openOtp" -->
            <div  >
            <mat-form-field appearance = "outline" >
                <input type="text" matInput placeholder="Provide OTP" #otp>
              
          
        </mat-form-field>
        <!-- (click)="verify()"? -->
        <button  class = "verify-otp-btn" mat-raised-button color = "accent" >Verify</button>
    </div>
    <!-- *ngIf="openUpdate" -->
             <div> 
        <mat-form-field class = "form-field" id="form" appearance = "outline">
            <input type="password" placeholder="Enter Your New Password" matInput formControlName = "password"> 
        </mat-form-field>
        <div>
            <!-- *ngIf = "password?.errors?.['pattern']" -->
            <mat-error >
                Password Should Have min 5 letter password, with atlease a symbol a upper and lower case letters and a number 
            </mat-error>
            </div>
            <br>
           
        <mat-form-field class = "form-field" appearance = "outline">
            <input type="password" placeholder="Confirm Your Password" matInput formControlName = "confirmPassword">
        </mat-form-field>
   
        <div>
            <!-- *ngIf = "otpVerify?.errors?.['mustMatch']===true" -->
            <mat-error >
                password and confirm password should match
            </mat-error>
            </div>

<div>
    <!-- (click)="update()" -->
    <button type = "submit" mat-raised-button color = "primary">Update Password</button>
    <button class = "reset-btn" type = "reset" mat-raised-button color = "accent">Reset</button>
</div>

</div>            
</div>
</form>
</div>


<div class="forget">
    <input type="text" placeholder="Enter your email">
    <button>Send OTP</button>
    <br>
    <input type="text" placeholder="provide OTP">
    <button>Verify OTP</button>
    <br>
    <input type="text" placeholder="New Password">
    <br>
    <input type="text" placeholder="Confirm Password">
    <br>
    <button>Update Password</button>
</div>