/* .example-spacer {
    flex: 1 1 auto;
  } */
  .backgroundImage{
    background-image: url(https://www.tastingtable.com/img/gallery/20-delicious-indian-dishes-you-have-to-try-at-least-once/l-intro-1645057933.jpg);
    background-repeat: no-repeat;
    /* margin-left: 35px; https://c0.wallpaperflare.com/preview/184/811/591/blur-bread-rolls-counter-cup.jpg */
    width: 100%;
    height: 95%;
    position: absolute;
  }
  .slogan1{
    margin-left: 41%;
    margin-top: 200px;
    margin-bottom: 30px;
    color: white;
    font-size: 80px;
    font-weight: 1000;
  }
  .slogan2{
    margin-left: 30%;
    font-size: 40px;
    font-weight: 500;
    color: white;
  }
  .select{
    margin-top: 10px;
    margin-left: 25%;
    padding: 15px;
  }
  #select{
    border-radius: 5px;
  }
  .searchBar{
    width: 600px;
    padding: 15px;
    border-radius: 5px;
  }
  .marquee {
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    /* right: 0; */
    height: 80px;
    overflow: hidden;
    background-color: black;
    padding: 1rem 0px;
    /* transform: rotate(-1deg); */
    transform: translateY(-4rem) rotate(-1deg);
  
  }
  
  .marquee__content {
    padding: 2rem 0px;
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation: marquee 500s linear infinite;
    /* border: none; */
    border-top: 10px dotted white;
    border-bottom: 10px dotted white;
    /* border-image: repeating-linear-gradient(
          to bottom,
          transparent 10px,
          transparent 10px,
          white 10px,
          white 20px
        ) 1 1; */
        /* border-spacing: 10px 0; */
    font-weight: bold;
    /* overflow: hidden; */
    color: white;
    font-size: 3rem;
    height: 100%;
    width: 500%;
  
  }
  
  
  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }
  #cuisineTrending{
    margin-top: -100px;
  }
  .mt{
    margin-top: 400px;
  }