<!-- <p>payment works!</p>
{{message}}br

<button (click)="paynow()">Pay Now</button> -->
                                                        
![MasterHead](https://qph.fs.quoracdn.net/main-qimg-fa7b4bdc3b2f73e749e5c2c646d4ae13)
<img src="https://raw.githubusercontent.com/andreasbm/readme/master/assets/lines/colored.png">
<img src="https://readme-typing-svg.herokuapp.com?font=Architects+Daughter&amp;color=ff0000&amp;size=20&amp;lines=Hey!+It's+Vinay+Kumar!;Learning+Java+Back-end+Development...👨🏻‍💻;" style="width: 100%;">
<img src="https://raw.githubusercontent.com/andreasbm/readme/master/assets/lines/colored.png">
<h1 align="center"> 😇(Hello everyone)" 👋</h1>
<h3 align="center">Currently Learning Java Backend Development from Masai School</h3>

<img align="right" alt="Coding" width="400" src="https://storage.googleapis.com/media.helloumi.com/125042/channels/FJ3DZITWCY268043HGFACIP9CFUA9XM6.gif">
                                                       
- 🔭 I’m currently working on **MySkill😄**
- 🌱 I’m currently learning **Masai School (Backend Developer)**
- 💬 Ask me about **Java**
- 👨‍💻 All of my projects are available at [My Portfolio](https://vinaykumarkunder.github.io/)
-  📄 Know about my experiences [My Resume](https://drive.google.com/file/d/1kD6xZMRgwfWEgdotlP9yO2qcagqpRrTZ/view?usp=sharing)
- 📫 How to reach me: ...**vinay3000111@gmail.com**
- 😄 Pronouns: ...@Vinay
- ⚡ Fun fact: ...Always smile😄 in tough situation

<img src="https://raw.githubusercontent.com/andreasbm/readme/master/assets/lines/colored.png">

                                                       
<h2><i>My GitHub Status</i></h2>
<p align="left"> <img src="https://komarev.com/ghpvc/?username=vinaykumarkunder&label=Profile%20views&color=0e75b6&style=flat" /> </p>

<p>
    <img align="left" src="https://github-readme-stats.vercel.app/api?username=vinaykumarkunder&show_icons=true&locale=en&theme=dark" alt="VinayKumar"  height="139" />
    <img align="center" src="https://github-readme-stats.vercel.app/api/top-langs?username=vinaykumarkunder&show_icons=true&locale=en&layout=compact&theme=dark" alt="Vinay Kumar" height="139" />
</p>

<!-- <img src="https://activity-graph.herokuapp.com/graph?username=vinaykumarkunder&theme=xcode" height ="307"/> -->

<a href="https://github.com/vinaykumarkunder"><img alt="vinaykumarkunder Activity Graph" src="https://github-readme-activity-graph.cyclic.app/graph?username=vinaykumarkunder&bg_color=182747&color=5BCDEC&line=31E1F7&point=FFCACA&hide_border=true" /></a>

![snake gif](https://github.com/vinaykumarkunder/vinaykumarkunder/blob/output/github-contribution-grid-snake.svg)

<img src="https://raw.githubusercontent.com/andreasbm/readme/master/assets/lines/colored.png">






<div align="center">  
                                                         
<h3 align="left">Connect with me</h3>
<p align="center">

<a href="https://www.linkedin.com/in/vinay-kumar-01b807215/" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/linked-in-alt.svg" alt="Vinay Kumar" height="25" width="35" /></a>
<a href="https://auth.geeksforgeeks.org/user/vinay3000111" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/geeks-for-geeks.svg" alt="Vinay Kumar" height="25" width="35" /></a>
<a href="https://www.hackerrank.com/vinay3000111" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/hackerrank.svg" alt="Vinay Kumar" height="25" width="35" /></a>
<a href="https://www.leetcode.com/vinay5504472" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/leet-code.svg" alt="Vinay Kumar" height="25" width="35" /></a>
</p>
</div>  

<img src="https://raw.githubusercontent.com/andreasbm/readme/master/assets/lines/colored.png">

                                                          

<h3 align="left">🛠 &nbsp;Tech Stack </h3>

<div align="center">  
   <img style="margin: 10px" src="https://profilinator.rishav.dev/skills-assets/java-original-wordmark.svg" alt="Java" height="50" /> 
   <img style="margin: 10px" src="https://profilinator.rishav.dev/skills-assets/mysql-original-wordmark.svg" alt="MySQL" height="50" />
  <img style="margin: 10px" src="https://cdn.freebiesupply.com/logos/thumbs/2x/hibernate-logo.png" alt="Hibernate" height="50" />
   <img style="margin: 10px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSc4gOUoPCLdDqEGb7Nk62T2VPDs_sods_F7sTscWw&s" alt="Springboot" height="50" />
   <img style="margin: 10px" src="https://profilinator.rishav.dev/skills-assets/javascript-original.svg" alt="JavaScript" height="50" /> 
  <img style="margin: 10px" src="https://profilinator.rishav.dev/skills-assets/css3-original-wordmark.svg" alt="CSS3" height="50" />  
  <img style="margin: 10px" src="https://profilinator.rishav.dev/skills-assets/html5-original-wordmark.svg" alt="HTML5" height="50" /> 
  <img style="margin: 10px" src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg" alt="JavaScript" height="50" /> 
   
 

  

<!--    -->

<!--    --> 




</div>  

<img src="https://raw.githubusercontent.com/andreasbm/readme/master/assets/lines/colored.png">

<img src="https://readme-typing-svg.herokuapp.com?font=Architects+Daughter&amp;color=ff0000&amp;size=20&amp;lines=Thanks!+For+Visiting+On+My+Profile!;See+You+Next-Time+Hope+u+like+its...👨🏻‍💻;" style="width: 100%;">

<p><img  src="https://raw.githubusercontent.com/Trilokia/Trilokia/379277808c61ef204768a61bbc5d25bc7798ccf1/bottom_header.svg"></p>

