<div class="addDish">
    <main class="form-signin w-100 m-auto">
      <form>
        <div style="text-align: center;"><img class="mb-4" src="../../../assets/images/Foodie.png" alt="" width="72" height="57">
        </div>
  
        <h1 class="h3 mb-3 fw-normal">Add Your Dish</h1>
  
        <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Dish Name</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Dish Type</label>
        </div>
  
        <div class="form-floating">
          <input type="text" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Price</label>
        </div>
        <div class="mb-3">
          <label for="formFile" class="form-label">Upload picture of dish</label>
          <input class="form-control" type="file" id="formFile">
        </div>
  
  
        <button class="w-100 btn btn-lg btn-primary" type="submit">Add dish</button>
      </form>
    </main>
  </div>