<app-header></app-header>
<div class="container">
    <section class="vh-100" style="background-color: #9A616D;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src="https://images.unsplash.com/photo-1654922207993-2952fec328ae?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
                                    alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">
                                    <!-- [formGroup]="signupForm" (ngSubmit)="sendSignupData()" -->
                                    <form>

                                        <div class="d-flex align-items-center mb-3 pb-1">
                                            <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                            <span class="h1 fw-bold mb-0">Register in Foodie</span>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input type="email" formControlName="emailId"
                                                class="form-control form-control-lg" />
                                            <label class="form-label">Email address</label>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input type="text" id="form2Example17" formControlName="ownerName"
                                                class="form-control form-control-lg" />
                                            <label class="form-label" for="form2Example17">Name of the Owner</label>
                                        </div>
                                        <div class="form-outline mb-4">
                                            <input type="text" formControlName="restName"
                                                class="form-control form-control-lg" />
                                            <label class="form-labe">Restaurant Name</label>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input type="password" formControlName="password"
                                                class="form-control form-control-lg" />
                                            <label class="form-label">Password</label>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input type="text" formControlName="address"
                                                class="form-control form-control-lg" />
                                            <label class="form-label">Address</label>
                                        </div>

                                        <div class="pt-1 mb-4">
                                            <button class="btn btn-dark btn-lg btn-block">
                                                Sign Up</button>
                                        </div>

                                        <p class="mb-5 pb-lg-2" style="color: #393f81;">Already registered?<a href="#!"
                                                style="color: #393f81;">Click here</a></p>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="footer">
    <app-footer></app-footer>
</div>