<app-user-login-header></app-user-login-header>
<!-- <div>
    <a href=""><mat-icon>delivery_dining</mat-icon>Delivery</a>
    <a href=""><mat-icon>restaurant_menu</mat-icon>Dinnig Out</a>
</div> -->

<div class="background">
    <div class="searchbar">
        <input type="text" placeholder="Search for restaurant and dishes">
        <button><i class="fa fa-search"></i></button>
    </div>
</div>

<div class="carousel">
    <h1>Inspiration for your first order</h1>
    <div>
        <app-cuisine-carousel ></app-cuisine-carousel>
    </div>
</div>

<div class="card" *ngFor="let restaurant of allRestaurant">
    <img src="../../../assets/images/briyani.png" alt="">
    <button mat-icon-button [style.color]="color" (click)="changecolor()">
        <!-- <i class="fa fa-heart"></i> -->
        <mat-icon class="icon">favorite</mat-icon>
    </button>
    <div class="content">
        <h1>{{restaurant.restaurantName}}</h1>
        <h3>{{restaurant.location}}</h3>
    </div>
</div>