<app-user-login-header></app-user-login-header>
<!-- <div>
    <a href=""><mat-icon>delivery_dining</mat-icon>Delivery</a>
    <a href=""><mat-icon>restaurant_menu</mat-icon>Dinnig Out</a>
</div> -->

<div class="background">
    <div class="searchbar">
        <input type="text" placeholder="Search for restaurant and dishes">
        <button><i class="fa fa-search"></i></button>
    </div>
</div>

<div class="carousel">
    <h1>Inspiration for your first order</h1>
    <div>
        <app-cuisine-carousel ></app-cuisine-carousel>
    </div>
</div>

<div>
    <h1>Restaurants : </h1>
    <div class="card" *ngFor="let restaurant of allRestaurant">
        <img src="http://localhost:8080/app/v1/images/{{restaurant.resImage}}" alt="">
        <button mat-icon-button [style.color]="color" (click)="changecolor()">
            <!-- <i class="fa fa-heart"></i> -->
            <mat-icon class="icon">favorite</mat-icon>
        </button>
        <div class="content">
            <h1>{{restaurant.restaurantName}}</h1>
            <h3>{{restaurant.location}}</h3>
            <button (click)="addResturantToFavourite(restaurant)">Add to favorite</button>
        </div>
        <!-- <button>Add to cart</button> -->
    </div>
</div>

<div>
    <h1>Dishes : </h1>
    <div class="card" *ngFor="let dish of allDishes">
        <img src="../../../assets/images/briyani.png" alt="">
        <!-- <button mat-icon-button [style.color]="color" (click)="changecolor()">
            <mat-icon class="icon">favorite</mat-icon>
        </button> -->
        <div class="content">
            <h1>{{dish.dishName}}</h1>
            <h3>{{dish.type}}</h3>
            <h3>{{dish.dishPrice}}</h3>
            <h3>Quantity<input type="number" id="i" min="1"></h3>
        </div>
        <button (click)="addToCart(dish)">Add to cart</button>
        <button (click)="addDishToFavourite(dish)">Add to favorite</button>
    </div>
</div>