
<body class="image">
    <form>
        <h3>New Resgistration</h3>

        <label for="username">First Name</label>
        <input type="text" placeholder="Enter your first Name" id="firstName">

        <label for="username">LastName</label>
        <input type="text" placeholder="Enter your last Name" id="lastName">

        <label for="username">Username</label>
        <input type="text" placeholder="Email or Phone" id="username">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password">

        <label for="password">Confirm Password</label>
        <input type="password" placeholder="Confirm Password" id="password">

        <label for="password">Phone No</label>
        <input type="password" placeholder="Enter your mobile No." id="password">

        <label for="password">Role</label>
        <select>
            <option value="User">User</option>
            <option value="RestaurantOwner">RestaurantOwner</option>
        </select>
        <!-- <input type="password" placeholder="Enter your mobile No." id="password"> -->
        <h2>Address</h2>
        <label for="password">Building Name</label>
        <input type="password" placeholder="Enter your Building Name" id="password">

        <label for="password">Flat No.</label>
        <input type="password" placeholder="Enter your Flat No." id="password">

        <label for="password">Street Name</label>
        <input type="password" placeholder="Enter your Street Name" id="password">

        <label for="password">City</label>
        <input type="password" placeholder="Enter your City" id="password">

        <label for="password">State</label>
        <input type="password" placeholder="Enter your State" id="password">

        <label for="password">Pincode</label>
        <input type="password" placeholder="Enter your Pincode" id="password">

        <button>Register</button>
    </form>
</body>