 <body class="image">
    <app-header></app-header>
    <form  class="form"  (ngSubmit)="sendSignupData()" [formGroup]="signupForm">
        <div class="container">
        <h3>New Registration</h3>

    
           
<div style="display: flex;justify-content: space-evenly; width: 100%;">
                        <mat-form-field appearance="fill" style="margin-left: 5px;margin-right: 5px; width: 100%;" >
                            <input matInput type="text" placeholder="First Name" id="firstName" formControlName="firstName">
                        <mat-error *ngIf="firstName?.errors?.['required']" style="color: red;">
                            First Name is required.
                        </mat-error>
                    </mat-form-field>
                    
                    <mat-form-field appearance="fill" style="margin-left: 5px;margin-right: 5px; width: 100%;" >
                        <input matInput type="text" placeholder="Last Name" id="lastName"
                            formControlName="lastName">
                            <mat-error *ngIf="lastName?.errors?.['required']" style="color: red;">
                                Last Name is required.
                            </mat-error>
                    </mat-form-field>
                </div>
    

        <mat-form-field appearance="fill" style="margin-left: 5px;margin-right: 5px; width: 100%;" >
            <input matInput placeholder="abc@gmail.com"  type="email" id="email" formControlName="email" />
            <mat-error *ngIf="email?.errors?.['required']" style="color: red;">
                Email is required.
            </mat-error>
            <mat-error *ngIf="email?.errors?.['email']" style="color: red;">
               Enter Valid Email.
            </mat-error>
        </mat-form-field>
       

     <mat-form-field appearance="fill" style="margin-left: 5px;margin-right: 5px; width: 100%;" >
        <input matInput type="password" placeholder="Password" id="password" formControlName="password">
    <mat-error *ngIf="password?.errors?.['required']" style="color: red;">
        Password is required.
    </mat-error>
    <mat-error *ngIf="password?.errors?.['pattern']" style="color: red;">
        Password should have min 8 letter password, with at least a symbol, upper and lower case letters
        and a number.
    </mat-error>

</mat-form-field>
          
         <mat-form-field appearance="fill" style="margin-left: 5px;margin-right: 5px; width: 100%;" >
            <input matInput type="tel" placeholder="Phone Number" id="mobileNo" formControlName="mobileNo">
            <mat-error *ngIf="mobileNo?.errors?.['pattern']" style="color: red;">
                Valid phone number contains 10 digits starting with 7/8/9
            </mat-error>
        </mat-form-field>
           <h1>Address</h1>
            <div style="display: flex;justify-content: space-evenly; width: 100%;">
               
                <mat-form-field appearance="fill" style="margin-left: 5px;margin-right: 5px; width: 100%;" >
                    <input matInput type="text" placeholder="Building Name" id="buildingName"
                        formControlName="buildingName">
                        <mat-error *ngIf="buildingName?.errors?.['required']" style="color: red;">
                            Building Name is required.
                        </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" style="margin-left: 5px;margin-right: 5px; width: 100%;" >
                    <input matInput type="number" placeholder="Flat No." id="city"
                        formControlName="flatNo">
                        <mat-error *ngIf="flatNo?.errors?.['required']" style="color: red;">
                            flatNo  is required.
                        </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" style="margin-left: 5px;margin-right: 5px; width: 100%;" >
                    <input matInput type="text" placeholder="Street Name" id="streetName"
                        formControlName="streetName">
                        <mat-error *ngIf="streetName?.errors?.['required']" style="color: red;">
                            street Name is required.
                        </mat-error>
                </mat-form-field>
                </div>
          
            <div style="display: flex;justify-content: space-evenly; width: 100%;">
               
            <mat-form-field appearance="fill" style="margin-left: 5px;margin-right: 5px; width: 100%;" >
                <input matInput type="text" placeholder="City" id="city"
                    formControlName="city">
                    <mat-error *ngIf="city?.errors?.['required']" style="color: red;">
                        City Name is required.
                    </mat-error>
            </mat-form-field>
           <mat-form-field appearance="fill" style="margin-left: 5px;margin-right: 5px; width: 100%;">  
                <mat-label>state</mat-label>  
                <select matNativeControl required>  
                    <option value="Delhi">Delhi</option>
                    <option value="Mumbai">Mumbai</option>
                    <option value="Karnataka">Karnataka</option>
                    <option value="Japan">Japan</option>
                    <option value="Delhi">Delhi</option>
                    <option value="Mumbai">Mumbai</option>
                    <option value="Karnataka">Karnataka</option>
                    <option value="Japan">Japan</option> 
                </select>  
              </mat-form-field>  
            <mat-form-field appearance="fill" style="margin-left: 5px;margin-right: 5px; width: 100%;" >
                <input matInput type="text" placeholder="Pincode" id="pincode"
                    formControlName="streetName">
                    <mat-error *ngIf="pincode?.errors?.['required']" style="color: red;">
                        Pincode is required.
                    </mat-error>
            </mat-form-field>
      
    </div>
           
        <label>Profile Image Upload</label>
        <input style="padding-top: 10px;" type="file" class="form-control" formControlName="image" placeholder="No file chosen">
    
        <button   type="submit" [disabled]="!signupForm.valid">Register</button>
      </div>
    </form>
</body>
<app-footer></app-footer>
