  <div class="card">
    <div class="head">
    </div>
    <div class="content">
        <h1>Order Online</h1>
        <h3>Stay home and order to your doorstep</h3>
    </div>
  </div>

  <div class="card">
    <div class="head2">
    </div>
    <div class="content">
        <h1>Dining</h1>
        <h3>View the city's favourrite dining venues</h3>
    </div>
  </div>

  <div class="card">
    <div class="head3">
    </div>
    <div class="content">
        <h1>Nightlife and Club's</h1>
        <h3>Explore the city's top nigthlife outlets</h3>
    </div>
  </div>