<div>
    <app-restaurant-header></app-restaurant-header>
    <!-- <h1 class="h1">Hii {{onwer}}</h1> -->
    <h1 class="h1">Welcome to FoodieApp</h1>
    <h2>Your Restaurant : </h2>
    <!-- <button (click)="getAllRestaurant()">get your restaurant</button> -->
    <!-- {{allRestaurant|JSON}} -->
    <div class="flex">
      <div class="card-container" *ngFor="let restaurant of allRestaurant">
        <div class="card">
          <img src="http://localhost:8082/restaurant-service/images/{{restaurant.resImage}}" alt="#">
          <div class="pad">
            <h2>{{restaurant.restaurantName}}</h2>
            <h3>Location : {{restaurant.location}}</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus necessitatibus laborum quia animi iste nostrum.</p>
          </div>
        </div>
      </div>
    </div>
    
      <app-footer></app-footer>
</div>