<mat-toolbar class="head">
    <img src="../../../assets/images/fork.png" alt="">
    <span>Foodie</span>
    <span class="example-spacer"></span>
    <img class="image" src="http://localhost:8080/app/v1/images/{{user.pi}}" alt=""> Hi {{user.firstName}}
    <a routerLink="../favourite" href=""><mat-icon>favorite</mat-icon>favorite</a>
    <a routerLink="../cart" href=""><mat-icon>add_shopping_cart</mat-icon>cart</a>
    <a routerLink="../home" href=""><mat-icon>logout</mat-icon>Logout</a>
</mat-toolbar>